Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
* List popular languages for data Science
* Some of the commonly used library by data scientists
* Data science tools

Some of the popular languages that Data Scientists use are:
Python
R
SQL
Scala
Julia

Some of the commonly used libraries used by Data Scientists include:
Numpy
Panda
Matplotlib
Seaborn
Scikit learn
Scipy

Data Science Tools
Apache hadoop
Apache Spark
Vs code 
Rstudio
Anaconda navigator

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 // 60  
minutes_remaining = 200 % 60  
print(f"{hours} hours and {minutes_remaining} minutes")

3 hours and 20 minutes

## Author
Krish Paul